/* Variables */
:root {
    --basic-white: #FFFFFF;
    --basic-white-footer: rgba(255, 255, 255, 0.9);
    --basic-blue: #81B3D2;
    --basic-black: #000000;
    --basic-black-logo: #231F20;
    --basic-gray-background: #EEEEEE;
    --basic-gray-page: #888888;
    --basic-gray-text: #333333;
    --basic-gray-form: #F2F2F2;
    --basic-gray-icon: #A9A9A9;
    --basic-brown: #766357;

    
    --special-gray-locked: #6A6A6A;
    --special-gray-pointer: #ABABAB;
    --special-gray-arrow: #CACACA;
    --special-blue-guidance: #669EC0;
    --special-blue-push: #5496BD;
    --special-brown-guidance: #604E43;
    --special-brown-push: #503E33;
    --special-gray-form-guidance: #EBEBEB;
    --special-gray-logo-push: #BDBBBC; 
    --special-gray-line: #E5E5E5;
    --special-gray-button: #666666;

}

/* Global */

.page { 
    margin: 0; 
    padding: 0;
    min-width: 1200px;
    height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-gray-background);
}
img { 
    max-width: 100%;
    height: auto;
}
a { 
    text-decoration: none;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.main-header{
    width: 1200px;
    margin: 0 auto;
    
}

/* Main-navigation */
.main-navigation {
    background-color: var(--basic-white);
    position: relative;
    height: 56px;
}
.site-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}
.site-navigation li {
    font-weight: bold;
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    padding-top: 15px;
    text-align: center;
    align-items: center;
}
.site-navigation li:nth-child(2) {
    padding-right: 30px;
 }
.site-navigation li:nth-child(3) {
    margin-left: 20%;
}
.main-logo {
    display: block;
    top: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* User navigation */

.site-navigation a {
    color: var(--basic-black);
}
.site-navigation a:hover {
    color: var(--basic-blue);
}

/* Welcome */

.welcome-img {
    background-image: url("../img/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 1200px;
    height: 509px;
    text-align: center;
}
.sedona-logo {
    margin-top: 76px;
    margin-bottom: 21px;
}
.welcome-block {
    position: bottom;
}

/* Main */

.main-container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}

/* Container-feature */

.reason-block {
    width: 1200px;
    height: 216px;
}

.container-feature {
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
}
.slogan {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 44px;
}
.reasons {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-gray-text);
}
.reasons-list {
    padding: 0;
    margin: 0;
    list-style: none;;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px 1fr 256px 256px; 
    grid-row-gap: 0;
    box-sizing: border-box;
}
.sity-foto-1 {
    grid-column-start: 2;
    grid-column-end: 4; 
}
.sity-foto-2 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.container-first {
    text-align: center;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    height: 256px;
}

.reason-first {
    display: block;
    height: 256px;
    padding: 25px 40px 0 40px;
}
.container-first h3{
    display: block;
    font-size: 21px;
    line-height: 21px;
}
.container-first p{
    display: block;
    font-size: 14px;
    line-height: 21px;
    margin-top: 27px;
}
    
.feature-item-1,
.feature-item-2,
.feature-item-3 {
    text-align: center;
    padding: 60px 50px 78px 50px;
    background-color: var(--basic-white); 
}
.feature-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.feature-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.feature-item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.feature-item h4 {
    font-weight: bold;
    font-size: 21px;
    line-height: 21px;
    color: var(--basic-black);
    list-style: none;
    margin-top: 20px;
}
.feature-item p {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-gray-text);
}

.container-second {
    height: 256px;
    text-align: center;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    grid-column-start: -1;
    grid-column-end: -2;
    grid-row-start: 3;;
    grid-row-end: 3;
    padding: 30px 40px 0 40px;
    display: block;
}
.container-second h3 {
    font-size: 21px;
    line-height: 21px;
    display: block;
}
.container-second p {
    font-size: 14px;
    line-height: 21px;
    margin-top: 27px;
    display: block;
}
.reasons-third,
.reasons-fourth,
.reasons-fifth {
    background-color: var(--basic-gray-background); 
}
.reasons-third,
.reasons-fourth,
.reasons-fifth h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    padding-top: 30px;

}
.reasons-third,
.reasons-fourth,
.reasons-fifth p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
.reasons-third {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;

}
.reasons-fourth {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;

}
.reasons-fifth {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
}


/* Reservation*/

.container-reservation {
    text-align: center;
    background-color: var(--basic-white);
    width: 1200px;
    min-height: 256px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-reservation h2 {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-black);
    padding: 30px 320px 0 320px;
}
.container-reservation p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-black);
    padding: 0 340px 0 340px;
}
.booking-window {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-color: var(--basic-white);
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.search-form input{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-color: var(--basic-gray-form);
    border: none;
}
.search-form input:hover {
    background-color: var(--special-gray-form-guidance);
}
.search-form input:focus {
    border: 2px solid var(--special-gray-line);
    background-color: var(--basic-white);
}
.check-date-1,
.check-date-2 {
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 29px;
}
.check-date-1 svg {
   position: relative;
   right: 150%;
   top: 20%;
}
.check-date-2 svg {
    position: relative;
    right: 150%;
    top: 20%;
 }

.check-in-date,
.check-out-date {
    width: 346px;
    height: 38px;
    padding-left: 13px;
    margin-left: 20px;
}
.minus-button,
.plus-button {
    border: none;
    outline: none;
}
.check-date-1:hover path{
    fill: var(--basic-black);
}
.check-date-1:active path{
    fill: var(--basic-blue);
}
.check-date-2:hover path{
    fill: var(--basic-black);
}
.check-date-2:active path{
    fill: var(--basic-blue);
}
.adults-children {
    margin-top: 30px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.minus-plus {
    display: flex;
    justify-content: center;
}
.minus-button:hover path{
    fill: var(--basic-black);
}
.minus-button:active path{
    fill: var(--basic-blue);
}
.plus-button:hover path{
    fill: var(--basic-black);
}
.plus-button:active path{
    fill: var(--basic-blue);
}
.adults-children input{
    width: 38px;
    height: 36px;
    text-align: center;
}

.minus-plus:last-child {
    margin-right: 20px;
}
.minus-button{
   width: 38px;
   height: 38px;
   background-color: var(--basic-gray-form);
}
.plus-button {
    width: 38px;
    height: 38px;
    background-color: var(--basic-gray-form);
}
.search-button{
    border: none;
    outline: none;
    width: 568px;
    height: 86px;
    background-color: var(--basic-brown);
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
}
.search-button:hover {
    background-color: var(--special-brown-guidance);
}
.search-button:active{
    background-color: var(--special-brown-push);
    color:rgb(225, 225, 225, 0,3);
}
.find{
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    width: 458px;
    height: 58px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 54px;
}
.find:hover {
    background-color: var(--special-blue-guidance);
}
.find:active {
    background-color: var(--special-blue-push);
    color:rgb(225, 225, 225, 0,3);
}
/* Filter */

/*
.filter {

}
*/

/* Search-result */

.search-result {
    background-color: var(--basic-white);
    height: 80px;
}
.search-field {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.search-result h3 {
    text-align: left;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    margin-left: 20px;
}
.search-result p {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    margin-left: 20px;
}
.search-result ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}
.search-result-category {
    flex-grow: 1;
}
.search-result-category li {
    margin-left: 20px;
}
.search-result-category a {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    opacity: 0.3;
    border-bottom: 1px dashed var(--basic-blue);
    flex-grow: 1;
}
.search-result-category a:hover {
    color: var(--basic-blue);
}
.search-result-category a:active {
    color: var(--basic-black);
    opacity: 1;
    border-bottom: none;
}
.arrow {
    margin-right: 20px;
}

/* Hotels */

.hotels {
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.hotels ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hotels-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.hotels-name:hover {
    color: var(--basic-blue);
}
.hotels-name:active {
    color: var(--basic-black);
    opacity: 0.3;
}
.hotels p {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-gray-text);
}
.hotels-list {
    text-align: left;
    border-bottom: 1px solid var(--special-gray-line);
}
.hotels-list-1{
   display: flex;
   justify-content: space-between;
   border-top: 1px solid var(--special-gray-line);
}
.hotels-list-2{
    display: flex;
   justify-content: space-between;
   border-top: 1px solid var(--special-gray-line);
}
.hotels-list-3{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--special-gray-line);
    border-bottom: 1px solid var(--special-gray-line);
}
.hotel-img-1,
.hotel-img-2,
.hotel-img-3 {
    padding-top: 20px;
    margin-left: 40px;
}
.hotels-description-1 {
    flex-grow: 1;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.hotels-description-2 {
    flex-grow: 1;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;
}
.hotels-description-3 {
    flex-grow: 1;
    margin-left: 20px;
    align-items: center;
    margin-bottom: 20px;
}



/* Button*/

.more {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-blue);
}
.more:hover {
    background-color: var(--special-blue-guidance);
}
.more:active {
    color: var(--basic-white);
    opacity: 0.3;
    background-color: var(--special-blue-push);
}
.reserve {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-brown);
}
.reserve:hover {
    background-color: var(--special-brown-guidance);
}
.reserve:active {
    color: var(--basic-white);
    opacity: 0.3;
    background-color: var(--special-brown-push);

}
.rating {
    font-size: 14px;
    line-height: 21px;
    text-align: right;
    color: var(--special-gray-button);
    background-color: var(--basic-gray-form);
    margin-right: 20px;
}

.stars {
    text-align: right;
    margin-right: 20px;
}



/* Map */

.container-map {
    text-align: center;
}

/* Footer*/

.footer-container{
    text-align: center;
    background-color: var(--basic-white-footer);
    width: 1200px;
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contacts {
    color: var(--basic-black)
}
.contacts a {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
}
.contacts h2 {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.socials {
    width: 150px;
    margin: 0 40px;
}
.socials-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.socials-list a:hover {
    background-color: var(--special-blue-guidance);
}
.socials-list a:active {
    background-color: var(--special-blue-push);
    fill-opacity: 0,5;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    background-color: var(--basic-blue);
    color: inherit;
}

.copyright {
    text-align: center;
    margin: 0 40px;
}
.copyright p {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    vertical-align: middle;
    margin-right: 10px;
}
.copyright path:hover {
   fill: var(--basic-blue);
}
.copyright path:active {
    fill: var(--special-gray-logo-push);
 }
.copyright-link{
    display: flex;
    box-sizing: border-box;
    margin-top: 20px;
}

   