/* Variables */
:root {
    --basic-white: #FFFFFF;
    --basic-white-footer: rgba(255, 255, 255, 0.9);
    --basic-white-opasity:rgba(255, 255, 255, 0.3);
    --basic-black-opasity: rgba(0, 0, 0, 0.3);
    --basic-blue: #81B3D2;
    --basic-black: #000000;
    --basic-black-logo: #231F20;
    --basic-gray-background: #EEEEEE;
    --basic-gray-page: #888888;
    --basic-gray-text: #333333;
    --basic-gray-form: #F2F2F2;
    --basic-gray-icon: #A9A9A9;
    --basic-brown: #766357;
    --basic-shadow: rgba(0, 1, 1, 0.2);

    
    --special-gray-locked: #6A6A6A;
    --special-gray-pointer: #ABABAB;
    --special-gray-arrow: #CACACA;
    --special-blue-guidance: #669EC0;
    --special-blue-push: #5496BD;
    --special-brown-guidance: #604E43;
    --special-brown-push: #503E33;
    --special-gray-form-guidance: #EBEBEB;
    --special-gray-logo-push: #BDBBBC; 
    --special-gray-line: #E5E5E5;
    --special-gray-button: #666666;
    --special-grey-shadow: #cfcfcf;
}

/* Global */

.page { 
    margin: 0; 
    padding: 0;
    min-width: 1200px;
    height: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-gray-background);
}
img { 
    max-width: 100%;
    height: auto;
}
a { 
    text-decoration: none;
}
.reset-arrows::-webkit-outer-spin-button,
.reset-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.reset-arrows[type='number'] {
    -moz-appearance: textfield;
}
.page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
}
.shadow {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 5px 15px var(--basic-shadow);
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */

.main-header{
    width: 1200px;
    margin: 0 auto;
}

/* Main-navigation */

.main-navigation {
    background-color: var(--basic-white);
    position: relative;
    height: 56px;
}
.site-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}
.site-navigation li {
    font-weight: bold;
    width: 20%;
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    width: 100px;
    text-align: center;
    align-items: center;
}
.site-navigation li:first-child {
    margin-left: 5px;
 }
.site-navigation li:nth-child(3) {
    margin-left: 284px;
}
.site-navigation .activ {
    color: var(--basic-brown);
}
.main-logo {
    display: block;
    top: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* User navigation */

.site-navigation a {
    color: var(--basic-black);
}
.site-navigation a:hover {
    color: var(--basic-blue);
}
.site-navigation .activ:hover {
    color: var(--basic-brown);
}

/* Welcome */

.welcome-img {
    background-image: url("../img/background-photo.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--basic-gray-page);
    width: 1200px;
    height: 509px;
    text-align: center;
}
.sedona-logo {
    margin-top: 76px;
    margin-bottom: 21px;
}
.welcome-block {
    position: bottom;
}

/* Main */

.main-container {
    width: 1200px;
    margin: 0 auto;
}

/* Container-feature */

.reason-block {
    width: 1200px;
    height: 215px;
}

.container-feature {
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
}
.slogan {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    margin-top: 43px;
    margin-bottom: 42px;
}
.reasons {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: var(--basic-gray-text);
}
.container-first,
.container-second {
    height: 256px;
    box-sizing: border-box;
    background-color: var(--basic-blue);
    color: var(--basic-white);
}
.first {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}
.reason-first {
    display: block;
    height: 256px;
    box-sizing: border-box;
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 25px 40px 0 40px;
}
.sity-foto-1 {
    grid-column-start: 2;
    grid-column-end: 4;
}
.feature-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    color: var(--basic-gray-text);
    font-size: 14px;
    line-height: 21px;
}
.header-item {
    text-align: center;
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 27px;
}
.feature-item-3 p:first-of-type {
    margin-bottom: 25px;
}
.feature-item-1 {
    grid-column-start: 1;
    grid-column-end: 2;
}
.feature-item-2 {
    grid-column-start: 2;
    grid-column-end: 3;
}
.feature-item-3 {
    grid-column-start: 3;
    grid-column-end: 4;
}
.feature-item-1,
.feature-item-2,
.feature-item-3 {
    padding: 57px;
}
.feature-item-1,
.feature-item-2 {
    margin-top: 3px;
}
.container-second{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-column-start: 1;
    grid-column-end: 4 ;
    grid-row-start:3 ;
    grid-row-end: 4 ;
}
.second {
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 29px 40px 0 40px;
}
.sity-foto-2 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.reasons-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 256px 330px 256px 256px; 
    grid-row-gap: 0;
}
.container-first {
    grid-column-start: 1 ;
    grid-column-end: 4 ;
    grid-row-start: 1 ;
    grid-row-end: 3 ;
}
.reasons-third {
    grid-column-start:1 ;
    grid-column-end:2 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}
.reasons-fourth {
    grid-column-start:2 ;
    grid-column-end:3 ;
    grid-row-start:4;
    grid-row-end:5 ;
}
.reasons-fifth {
    grid-column-start:3 ;
    grid-column-end:4 ;
    grid-row-start: 4;
    grid-row-end:5 ;
}
.first h3,
.second h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 25px;
}
.first p,
.second p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-bottom: 25px;
}
.header-reasons {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    font-weight: bold;
    color: var(--basic-black);
    margin-bottom: 25px;
}
.reasons-third p,
.reasons-fourth p,
.reasons-fifth p {
    line-height: 21px;
    text-align: center;
    color: var(--basic-gray-text);
    margin-bottom: 25px;
}
.reasons-third,
.reasons-fourth,
.reasons-fifth {
    padding: 26px 65px;
    background-color: var(--basic-gray-background); 
}

/* Reservation*/

.container-reservation {
    text-align: center;
    background-color: var(--basic-white);
    width: 1200px;
    min-height: 291px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container-reservation h2 {
    font-size: 30px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-black);
    padding: 30px 320px 0 320px;
    margin-bottom: 20px;
}
.container-reservation p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-black);
    padding: 15px 340px 0 340px;
    margin-top: 0;
}
.booking-form {
    margin-top: 29px;
}
.booking-window {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-color: var(--basic-white);
    width: 568px;
    height: 395px;
    box-shadow: 0px 7px 15px var(--basic-black-opasity);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    
}
.modal-show {
    visibility: hidden; 
}
.modal-animation {
    animation: bounce 0.2s; 
}
.search-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.form-window {
    padding: 45px;
}
.search-form input{
    text-transform: uppercase;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    background-color: var(--basic-gray-form);
    border: 2px solid var(--basic-white);
}
.search-form input:hover {
    background-color: var(--special-gray-form-guidance);
}
.search-form input:focus {
    border: 2px solid var(--special-gray-line);
    background-color: var(--basic-white);
}
.check-date-1,
.check-date-2 {
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    padding-top: 5px;
}
.check-date-1 {
    padding-bottom: 20px;
}
.check-date-1 label {
    padding-top: 10px;
}
.check-date-2 label {
    padding-top: 7px;
}
.calendar{
    position: absolute;
    right: 4px;
    top: 15px;
    border: none;
    outline: none;
    background: transparent;
}
.check-in-date {
    width: 349px;
    height: 42px;
    margin-left: 22px;
    margin-top: 3px;
    padding-left: 12px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.check-out-date {
    width: 349px;
    height: 42px;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-left: 20px;
    padding-left: 11px;
}
.check-in-date {
    padding-left: 13px;
}
.minus-button,
.plus-button {
    border: none;
    outline: none;
}
.plus-button:focus {
    outline: 1px solid var(--basic-black);
}
.minus-button {
    padding-bottom: 5px;
}
.minus-button:focus {
    outline: 1px solid var(--basic-black);
}
.calendar:hover path {
    fill: var(--basic-black);
}
.calendar:active path {
    fill: var(--basic-blue);
}
.calendar:focus {
    outline: 1px solid var(--basic-black);
}
.adults-children {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 28px;
    width: 460px;
}
.adults-children label {
    margin-top: 5px;
}
.adults-children label:first-of-type {
    margin-right:  12px;
}
.adults-children label:last-of-type {
    margin-left: 25px;
}
.minus-plus {
    display: flex;
    justify-content: center;
}
.minus-button:hover path{
    fill: var(--basic-black);
}
.minus-button:active path{
    fill: var(--basic-blue);
}
.plus-button:hover path{
    fill: var(--basic-black);
}
.plus-button:active path{
    fill: var(--basic-blue);
}
.adults-children input {
    width: 38px;
    height: 38px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
}
.minus-button {
   width: 38px;
   height: 38px;
   background-color: var(--basic-gray-form);
}
.plus-button {
    width: 38px;
    height: 38px;
    background-color: var(--basic-gray-form);
}
.search-button {
    border: none;
    outline: none;
    background-color: var(--basic-brown);
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    vertical-align: middle;
    padding: 30px 139px;
}
.search-button:hover {
    background-color: var(--special-brown-guidance);
}
.search-button:active{
    background-color: var(--special-brown-push);
    color:rgb(225, 225, 225, 0,3);
}
.search-button:focus {
    outline: 2px solid var(--basic-blue);
}
.find {
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    width: 458px;
    height: 58px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 54px;
}
.find:hover {
    background-color: var(--special-blue-guidance);
}
.find:active {
    background-color: var(--special-blue-push);
    color:rgb(225, 225, 225, 0,3);
}
.find:focus {
    outline: 1px solid var(--basic-black);
}

/* Filter */

.filter {
    background-image: url("../img/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--basic-gray-page);
    min-height: 217px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-right: 70px;
    padding-left: 69px;
}
.infrastructure {
    padding-top: 10px;
}
.infrastructure h3,
.hotel-type h3 {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin-left: 3px;
}
.hotel-type h3 {
    margin-left: 0;
}
.infrastructure ul,
.hotel-type ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 43px;
    padding-top: 8px;
}
.infrastructure li,
.hotel-type li {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    padding-bottom: 25px;
}
.filter-option label {
    position: relative;
    display: block;
}
.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -41px;
    top: 0;
    width: 23px;
    height: 23px;
    background-image: url("../img/checkbox-off.svg");
}
.filter-input-checkbox:checked + label::before{ 
    content: "";
    position: absolute;
    left: -41px;
    top: 0;
    width: 27px;
    height: 23px;
    background-image: url("../img/checkbox-on.svg");
}
.filter-input-checkbox:focus + label {
    outline: 1px solid var(--basic-white-opasity);
} 
.hotel-type {
    padding-top: 10px;
    padding-right: 230px;
}
.hotel-type label{
    position: relative;
    display: block;
}
.filter-item {
    margin: 0;
    padding: 0;
    border: none;
    margin-top: 26px;
    margin-right: 2px;
}
.filter-item legend {
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: var(--basic-white);
    margin-bottom: 10px;
}
.range-filter {
    width: 317px;  
}
.range-controls .scale {
    height: 2px;
    background: var(--basic-white-opasity);
    margin-bottom: 20px;  
}
 .range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--basic-white);
}
.range-controls {
    position: relative;
    padding-top: 20px;
}
.range-controls .toggle {
    position: absolute;
    top: 12px;
    left:0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--special-gray-pointer);
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 var(--special-grey-shadow);
}
.toggle:hover {
    transform:  scaleX(1.2) scaleY(1.2);
}
.range-controls .toggle-min {
    left: 0;
}  
.range-controls .toggle-max {
    left: 252px;
}
.filter-item input {
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    vertical-align: baseline;
    width: 50px;
    height: 30px;
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
}
.price {
    height: 33px;
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    padding: 0 31px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.price label {
    text-align: left;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-white);
}
.min-price {
    padding-left: 34px;
}  
.max-price {
    position: relative;
    padding-left: 74px;
}
.min-price input,
.max-price input {
    cursor: pointer;
}
.max-price::after{
    content: "";
    position: absolute;
    top: 6px;
    left: 20px;
    width: 2px;
    height: 22px;
    background: var(--basic-white);
}
.show {
    border: 2px solid var(--basic-white);
    border-radius: 2px;
    background: none;
    width: 137px;
    height: 36px;
    font-size: 14px;
    line-height: 21px;
    align-items: center;
    text-transform: uppercase;
    color: var(--basic-white);
    position: absolute;
    left: 84px;
    top: 55px;
}
.show:hover {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

/* Search-result */

.search-result {
    background-color: var(--basic-white);
    height: 86px;
    padding-left: 73px;
    padding-right: 73px;
}
.search-field {
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.search-result h3 {
    text-align: left;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: var(--basic-black);
    padding-top: 9px;
}
.search-result p {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    padding-top: 20px;
    padding-left: 46px;
}
.search-result ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
    padding-top: 30px;
    padding-left: 40px;
}
.search-result li:not(:first-child) { 
    padding-left: 35px;
}
.search-result-category {
    flex-grow: 1;
}
.search-result-category .activ-category {
    color: var(--basic-blue);
}
.search-result-category a {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black);
    opacity: 0.5;
    border-bottom: 1px dashed var(--basic-blue);
    flex-grow: 1;
}
.search-result-category a:hover {
    color: var(--basic-blue);
}
.search-result-category a:active {
    color: var(--basic-black);
    opacity: 1;
    border-bottom: none;
}
.arrow {
    padding-top: 35px;
}
.arrow a:first-child {
    padding-right: 9px;
}
.arrow-1:hover path {
    fill: var(--basic-black);
}
.arrow-2:hover path {
    fill: var(--basic-black);
}
.arrow-1:active path {
    fill: var(--basic-blue);
}
.arrow-2:active path {
    fill: var(--basic-blue);
}
/* Hotels */

.hotels {
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.hotels ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.hotel-name {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
}
.hotel-name:hover {
    color: var(--basic-blue);
}
.hotel-name:active {
    color: var(--basic-black-opasity);
}
.hotels p {
    font-size: 14px;
    line-height: 21px;
    color: var(--basic-gray-text);
}
.hotels-list-1,
.hotels-list-2,
.hotels-list-3 {
   display: flex;
   justify-content: space-between;
   min-height: 150px;
   border-top: 1px solid var(--special-gray-line);
}
.hotels-list-3{
    border-bottom: 1px solid var(--special-gray-line);
}
.hotel-img-1,
.hotel-img-2,
.hotel-img-3 {
   padding-top: 30px;
   padding-left: 73px;
}  
.hotels-description-1,
.hotels-description-2,
.hotels-description-3 {
    flex-grow: 1;
    align-items: center;
    padding-top: 24px;
    padding-left: 29px;
}
.description-button {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.description-button-1 p,
.description-button-2 p {
    margin: 7px 0 15px 0;
}


/* Button*/

.more {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-blue);
    padding: 3px 16px;
    display: block;
    text-align: center; 
    margin: 0 7px 0 0;
}
.more:hover {
    background-color: var(--special-blue-guidance);
}
.more:active {
    color: var(--basic-white-opasity);
    background-color: var(--special-blue-push);
}
.reserve {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    color: var(--basic-white);
    background-color: var(--basic-brown);
    display: block;
    padding: 3px 17px;
    text-align: center;
    margin: 8px 0 0 0;
}
.reserve:hover {
    background-color: var(--special-brown-guidance);
}
.reserve:active {
    color: var(--basic-white-opasity);
    background-color: var(--special-brown-push);

}
.stars-rating-1,
.stars-rating-2,
.stars-rating-3 {
    width: 66px;
    height: 27px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 25px;
}
.stars-rating-1 {
    width: 90px;
    margin-left: 20px;
}
.stars-rating-2 {
    margin-left: 40px;
}
.stars-rating-3 {
    width: 40px;
    margin-left: 70px;
}
.rating-1,
.rating-2,
.rating-3 {
    font-size: 14px;
    line-height: 21px;
    padding: 3px 13px;
    text-align: center;
    margin-top: 41px;
    background-color: var(--basic-gray-form);
}
.rating-hotels {
    margin-right: 70px;
}

/* Map */

.container-map {
    text-align: center;
    position: relative;
    width: 1199px;
    height: 594px;
}
.container-map iframe {
    position: absolute;
    left: 0;
    top: 0;
}

/* Footer*/

.footer-container{
    text-align: center;
    background-color: var(--basic-white-footer);
    width: 1200px;
    min-height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;  
}
.index-footer {
    margin-top: -122px;
    position: absolute;
    z-index: 1;
}
.contacts {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
    font-weight: bold;
    padding: 19px 73px;
}
.contacts a {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    text-decoration: none;
    font-weight: bold;
    margin-left: 4px;
}
.contacts p {
    font-size: 21px;
    line-height: 26px;
    color: var(--basic-black);
    margin-bottom: 10px;
    margin-top: 5px;
}
.socials {
    width: 150px;
    padding: 37px 83px 0 0;
}
.socials-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.socials-list a:hover {
    background-color: var(--special-blue-guidance);
}
.socials-list a:active {
    background-color: var(--special-blue-push);
    fill-opacity: 0,5;
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 48px;
    background-color: var(--basic-blue);
    color: inherit;
}
.social-button path {
    margin-top: 20px;
}
.copyright {
    text-align: center;
    padding: 40px 85px 0 0;
}
.copyright p {
    font-size: 14px;
    line-height: 26px;
    color: var(--basic-black);
    vertical-align: middle;
    margin-right: 10px;
    margin-top: 10px;
}
.academy-link:hover path {
   fill: var(--basic-blue);
}
.academy-link:active path{
    fill: var(--special-gray-logo-push);
 }
.copyright-link{
    display: flex;
    box-sizing: border-box;
}

@keyframes bounce {
    0% {
        top: 2090px;
    }
    25%{
        top:2110px;
    }
    50%{
        top:2130px;
    }
    75%{
        top:2150px;
    }
    100% {
        top:2170px;
    }
  }